In [1]:
from utils import entity_to_entity_data, supplier_number

In [2]:
entity_to_entity_data("Asia", "NorthAmerica")

,ppe,desc,2017,2018,2019
0,'630790,"Made-up articles of textile materials, incl. d...",194499,208697,227433
1,'392690,Articles of plastics and articles of other mat...,775617,918262,1059102
2,'621010,"Garments made up of felt or nonwovens, whether...",20217,23469,26782
3,'392620,Articles of apparel and clothing accessories p...,102526,111557,89295
4,'900490,"Spectacles, goggles and the like, corrective, ...",65832,69447,64963
5,'401511,"Surgical gloves, of vulcanised rubber (excludi...",27844,27372,32823

In [3]:
entity_to_entity_data("Asia", "EU15")

,ppe,desc,2017,2018,2019
0,'630790,"Made-up articles of textile materials, incl. d...",1335972,1423247,1505100
1,'392690,Articles of plastics and articles of other mat...,3257590,3576299,3829373
2,'621010,"Garments made up of felt or nonwovens, whether...",337131,360098,398331
3,'392620,Articles of apparel and clothing accessories p...,480530,481827,446318
4,'900490,"Spectacles, goggles and the like, corrective, ...",515607,512652,525211
5,'401511,"Surgical gloves, of vulcanised rubber (excludi...",187347,201239,209555

In [4]:
# from utils import countries_of, iso_alpha_codes_of

In [5]:
# countries_of("African")

In [6]:
# iso_alpha_codes_of("AF")

In [7]:
supplier_number("US")

,Coutries or Regions,`630790,`392690,`621010,`392620,`900490,`401511,Sum
0,US,95,13,93,110,93,123,527